<footer class="border-top footer text-muted d-flex justify-content-center">
    <div class="p-3">
        &copy; 2025 - HR Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>